$template: nativo; // nativo | secondario | 


$bg:#ffbb00;
$color:#ffbb00;
$border-color:#ffbb00;
$bg-hover:rgb(128, 127, 127);

$bg_sec:#7c7c7c;
$color_sec:#7c7c7c;
$border-color_sec:#7c7c7c;
$bg-hover_sec:#ffbb00;

$color2:#fff;
$bg_2:#0000003c;






