@import "variabili";
@import "mixing";

// colore Background
%b {
    @if $template==nativo {
        background-color:$bg ;
    }

    @else if $template==secondario {
        background-color:$bg_sec ;
    }
}
//  colori
%c {
    @if $template==nativo {
        color:$color;
    }

    @else if $template==secondario {
        color:$color_sec ;
    }
}
// colore Hover
%h {
    @if $template==nativo {
        background-color:$bg-hover;
    }

    @else if $template==secondario {
        background-color:$bg-hover_sec ;
    }
}

@font-face {
    font-family:Roboto ;
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}

body{   
      font-family: Roboto,sans-serif,Arial, Helvetica, sans-serif; 
      img.bg{
        position:fixed;
        left:0;
        top:0;
        min-width:100%;
        min-height:100%;
        z-index:-100;
      }    
}


//*BARRA DI NAVIGAZIONE*/-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg_2; 
    border-bottom: 1px solid #ffbb00;
    padding: 15px;
    flex-direction: column;
    @include impostaDim(100%, auto);

            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                padding: 20px;
                @include impostaDim(100%, 130px);
                flex-direction: column;
            }

    .menu{
        font-weight: 300;
        font-size: 18px;
        text-decoration: none;
        color: $color2; 
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                margin-top: 0px;
                font-size: 20px;
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                margin-top: 0px;
                font-size: 20px;
            }

        
        li{
            display: inline-block;
            padding: 2px 10px;

            a{
                font-weight: 300;
                font-size: 30px;
                text-decoration: none;
                color: $color2;
                transition: all .3s ease;
                &:hover{                   
                   color:$color;
                }

                    // Media query per schermi sotto i 375px
                    @media (max-width: 375px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 375px a 480px
                    @media (min-width: 375px) and (max-width: 480px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 480px a 576px
                    @media (min-width: 480px) and (max-width: 576px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 576px a 768px
                    @media (min-width: 576px) and (max-width: 768px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 768px a 1023px
                    @media (min-width: 768px) and (max-width: 1023px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 1023px a 1280px
                    @media (min-width: 1023px) and (max-width: 1280px) {
                        font-size: 22px;
                        text-align: center;
                    }
                    // Media query per schermi da 1280px a 1440px
                    @media (min-width: 1280px) and (max-width: 1440px) {
                        font-size: 22px;
                        text-align: center;
                    }
            }
        }
    }   
    div.button{
        padding: 9px 25px;
        @extend %b;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: relative;   
        margin-top: 3px;

                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
               // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    margin-top: 0px;
                    padding: 0px 20px;
                    border-radius: 5px;
                }
        &:hover{
            @extend %h;
        }
        a{
            font-size: 18px;
            color: $color2;
            text-decoration: none;

                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                    font-size: 20px;
                }
                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    font-size: 20px;
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    font-size: 20px;
                }
                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    font-size: 20px;
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 20px;
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    font-size: 20px;
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    font-size: 20px;
                }
        }
    }  

}


//*HOME*/-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    img.logo {
        margin-left: 0; 
        margin-top: 0; 
        display: none; 
        width: auto;

}
main{
    min-height: 400px;
    height: 690px;
    display: flex;
    width: 90%;
    margin: 0 auto; /* Centratura orizzontale */
    flex-direction: column;
    justify-content: space-between;
    // align-items: center; /* Centratura orizzontale */
            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                width: 80%;
                height: 920px;
                justify-content: center; /* Centrato verticalmente */
            }

            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                width: 80%;
                height: 920px;
                justify-content: center; /* Centrato verticalmente */
    
            }

            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                width: 80%;
                height: 920px;
                justify-content: center; /* Centrato verticalmente */
    
            }

            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                width: 80%;
                height: 920px;
                justify-content: center; /* Centrato verticalmente */
    
            }

            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 80%;
                height: 920px;
                justify-content: center; /* Centrato verticalmente */
    
            }

            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                width: 100%;
                height: 486px;
            }

            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                width: 100%;
                height: 486px;
            }

    

    .container {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        gap: 70px;  
        width: 90%;
        max-width: 100%;
        margin: 0 auto;

            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                max-width: 375px;  /* Definisci un max-width per evitare che cresca troppo */
                margin: 0 auto;     /* Margine automatico per centratura orizzontale */
                gap: 36px;
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                max-width: 480px;  /* Definisci un max-width per evitare che cresca troppo */
                margin: 0 auto;     /* Margine automatico per centratura orizzontale */
                gap: 36px;
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                max-width: 576px;  /* Definisci un max-width per evitare che cresca troppo */
                margin: 0 auto;     /* Margine automatico per centratura orizzontale */
                gap: 36px;
            }
            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                max-width: 768px;  /* Definisci un max-width per evitare che cresca troppo */
                margin: 0 auto;     /* Margine automatico per centratura orizzontale */
                gap: 36px;
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                max-width: 1023px;  /* Definisci un max-width per evitare che cresca troppo */
                margin: 0 auto;     /* Margine automatico per centratura orizzontale */
                gap: 36px;
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                margin: 60px 0 0 50px;
                gap: 80px;
                
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                margin: 60px 0 0 65px;
                gap: 80px;
            }
        h1 {
            font-size: 60px;
            color: $color2;
            text-align: center;
            width: 100%;
            @include imposta-margin(110px, 0, 0, 0);    
            text-shadow: 10px 10px 10px #000000, 15px 15px 15px #9b9b9b;
            
            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                font-size: 44px; 
                width: 73%;
                @include imposta-margin(130px, 0, 0, 0);
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                font-size: 48px;
                width: 100%;
                @include imposta-margin(130px, 0, 0, 0);
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                font-size: 50px; 
                width: 100%;
                @include imposta-margin(100px, 0, 0, 0);
            }
            // Media query per schermi da 576px a 1023px
            @media (min-width: 576px) and (max-width: 1023px) {
                font-size: 50px; 
                width: 100%;
                @include imposta-margin(80px, 0, 0, 0);
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                font-size: 50px; 
                width: 100%;
                @include imposta-margin(0, 0, 0, 0);
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                font-size: 50px; 
                width: 100%;
                @include imposta-margin(0, 0, 0, 0);
            }
        }
        .content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 50px;
                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                    flex-direction: column;
                    gap: 20px;
                }

                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    flex-direction: column;
                    justify-content: center;  /* Centrato orizzontalmente */
                    gap: 20px;
                }

                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    flex-direction: column;
                    justify-content: center;  /* Centrato orizzontalmente */
                    gap: 20px;
                }

                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    flex-direction: column;
                    justify-content: center;  /* Centrato orizzontalmente */
                    gap: 20px;
                }

                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    flex-direction: column;
                    justify-content: center;  /* Centrato orizzontalmente */
                    gap: 20px;
                }

                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    // flex-direction: column;
                    gap: 30px;
                }

                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    // flex-direction: column;
                    gap: 20px;
                }

        }
        .img-home {
            width: 40%;
            max-width: 450px;
            @include imposta-margin(0, 0, 0, 100px);
            border-radius: 15px; 
            background-color: $color2;
            border: 3px solid;        
            @extend %c;
            padding: 6px;
            
            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                width: 95%; 
                border: 2px solid;
               margin: 0 auto;  /* Margine automatico per centratura orizzontale */
                padding: 3px;
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                width: 95%; 
                border: 2px solid;
               margin: 0 auto;  /* Margine automatico per centratura orizzontale */
                padding: 3px;
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                width: 90%; 
                border: 2px solid;
                margin: 0 auto;  /* Margine automatico per centratura orizzontale */
                padding: 3px;
            }
            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                width: 85%; 
                border: 2px solid;
                margin: 0 auto;  /* Margine automatico per centratura orizzontale */
                padding: 3px;
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 75%; 
                border: 2px solid;
                margin: 0 auto;  /* Margine automatico per centratura orizzontale */
                padding: 3px;
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                width: 50%; 
                border: 2px solid;
                @include imposta-margin(0, 0, 0, 0);
                padding: 3px;
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                width: 50%; 
                border: 2px solid;
                @include imposta-margin(0, 0, 0, 0);
                padding: 3px;
            }
            &:hover {
                background-color: rgb(155, 155, 163);                   
                filter: invert(100%);
            }
        }

        p.lorem {
            width: 60%;
            font-size: 20px;
            text-align: justify;
            color: $color2;
            height: auto;

            @include imposta-margin(0, 130px, 0, 0);
            
            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                font-size: medium;       
                width: 95%; 
                text-align: justify; 
                @include imposta-margin(0, 0, 0, 0);
            }
            // Media query per schermi da 375px a 480px
            @media (min-width: 375px) and (max-width: 480px) {
                font-size: medium;       
                width: 95%; 
                text-align: justify; 
                @include imposta-margin(0, 0, 0, 0);
            }
            // Media query per schermi da 480px a 576px
            @media (min-width: 480px) and (max-width: 576px) {
                font-size: medium;       
                width: 90%; 
                text-align: justify; 
                @include imposta-margin(0, 0, 25px, 0);
            }
            // Media query per schermi da 576px a 768px
            @media (min-width: 576px) and (max-width: 768px) {
                font-size: medium;       
                width: 85%; 
                text-align: justify; 
                @include imposta-margin(0, 0, 30px, 0);
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: medium;       
                width: 75%; 
                text-align: justify; 
                @include imposta-margin(0, 0, 30px, 0);
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                font-size: 15px;    
                width: 50%; 
                text-align: justify;
                @include imposta-margin(0, 0, 0, 0);
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                font-size: 18px;     
                width: 50%;
                text-align: justify;
                @include imposta-margin(0, 0, 0, 0);
            }
        }
    }
}



//*FOOTER*/-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
footer {
    background-color: $bg_2;
    width: 100%;
    border-top: 1px solid #ffbb00;

    // Media query per schermi sotto i 375px
    @media (max-width: 375px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    // Media query per schermi da 375px a 480px
    @media (min-width: 375px) and (max-width: 480px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    // Media query per schermi da 480px a 576px
    @media (min-width: 480px) and (max-width: 576px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    // Media query per schermi da 576px a 768px
    @media (min-width: 576px) and (max-width: 768px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
     // Media query per schermi da 768px a 1023px
     @media (min-width: 768px) and (max-width: 1023px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    // Media query per schermi da 1023px a 1280px
    @media (min-width: 1023px) and (max-width: 1280px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    // Media query per schermi da 1280px a 1440px
    @media (min-width: 1280px) and (max-width: 1440px) {
        @include imposta-margin(100px, 0, 0, 0);
        
    }
    .container {        
        margin: 0;
        display: flex;
        justify-content: center;

        // Media query per schermi sotto i 375px
        @media (max-width: 375px) {
            @include imposta-margin(0, 0, 0, 0);
        }
        // Media query per schermi da 375px a 480px
        @media (min-width: 375px) and (max-width: 480px) {
           @include imposta-margin(0, 0, 0, 0);
        
        }
        // Media query per schermi da 480px a 576px
        @media (min-width: 480px) and (max-width: 576px) {
           @include imposta-margin(13px, 0, 0, 0);
        
        }
        // Media query per schermi da 576px a 768px
        @media (min-width: 576px) and (max-width: 768px) {
           @include imposta-margin(0, 0, 0, 0);
        
        }
         // Media query per schermi da 768px a 1023px
         @media (min-width: 768px) and (max-width: 1023px) {
            @include imposta-margin(0, 0, 0, 0);
        }
        // Media query per schermi da 1023px a 1280px
        @media (min-width: 1023px) and (max-width: 1280px) {
            @include imposta-margin(0, 0, 0, 0);
        }
        // Media query per schermi da 1280px a 1440px
        @media (min-width: 1280px) and (max-width: 1440px) {
            @include imposta-margin(0, 0, 0, 0);
        }

        .footer-contenuto {
            @include impostaDim(33.3%, 100px);
            margin-top: 25px;
                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                @include impostaDim(100%, 180px);
                @include imposta-margin(0, 0, 0, 0);
                }

                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    @include impostaDim(100%, 180px);
                @include imposta-margin(0, 0, 0, 0);
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    @include impostaDim(100%, 185px);
                @include imposta-margin(0, 0, 0, 0);
                }
                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    @include impostaDim(100%, 190px);
                @include imposta-margin(15px, 0, 0, 0);
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    @include impostaDim(33.3%, 180px);
                   @include imposta-margin(15px, 0, 0, 0);
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    @include impostaDim(33.3%, 180px);
                   @include imposta-margin(15px, 0, 0, 0);
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    @include impostaDim(33.3%, 180px);
                   @include imposta-margin(15px, 0, 0, 0);
                }


            #contact {
                font-size: 28px;
                margin-bottom: 15px;
                text-align: center;
                color: $color2;

                    // Media query per schermi sotto i 375px
                    @media (max-width: 375px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;                   
                    }
                    // Media query per schermi da 375px a 480px
                    @media (min-width: 375px) and (max-width: 480px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;     
                    }              
                    // Media query per schermi da 480px a 576px
                    @media (min-width: 480px) and (max-width: 576px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;  
                    }
                    // Media query per schermi da 576px a 768px
                    @media (min-width: 576px) and (max-width: 768px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;  
                    }
                    // Media query per schermi da 768px a 1023px
                    @media (min-width: 768px) and (max-width: 1023px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;  
                    }
                    // Media query per schermi da 1023px a 1280px
                    @media (min-width: 1023px) and (max-width: 1280px) {
                        margin: 0 0 0 0 ;
                        padding: 10px; 
                    }
                    // Media query per schermi da 1280px a 1440px
                    @media (min-width: 1280px) and (max-width: 1440px) {
                        margin: 0 0 0 0 ;
                        padding: 10px;  
                    }                
            }

            p {
                width: 180px;
                margin: auto;
                padding: 7px;
                font-size: 15px;
                color: $color2;
            }
            // .contact{
            //     list-style-type: none;
            //     margin: auto; 
            //     font-size: 18px;
                
            //     li{
            //         padding: 6px; 
                     
                
            //         a{
            //             text-decoration: none;
            //             cursor: text;
            //             color: $color2;
            //             width: 180px;
                        
            //         }
            //     }
            
            // }

            ul {
                text-align: center;
                padding: 5px;
            }
        }
    

        .footer-contenuto_1 {
            @include impostaDim(33.3%, 100px);
            margin-top: 25px;
            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                display: none;
            }
            // Media query per schermi da 375px a 768px
            @media (min-width: 375px) and (max-width: 768px) {
                display: none;
            }
            // Media query per schermi da 768px a 1023px
            @media (min-width: 768px) and (max-width: 1023px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
                
            #list {
                font-size: 28px;
                margin-bottom: 15px;
                text-align: center;
                color: $color2;

                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    margin: 0 0 0 0;                    
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    margin: 0 0 0 0;                    
                }
                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    margin: 0 0 0 0;
                    
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    margin: 0 0 0 0;
                           
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    margin: 0 0 0 0;
                                        
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {            
                    margin: 0 0 0 0;
                                     
                }
            }
            ul.list{
                width: auto;
                text-align: center;
                list-style-type: none;
                padding: 38px;
                position: relative;
                top: -10px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color:$color2;
                    &:hover{
                        color: $color;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 80%;
                    @include impostaDim(0px, 2px);
                    @extend %b;
                    transition-duration: 0.5s;
                }
    
                &:hover::before {
                    width: 70px;
                }
            }
        }

        .footer-contenuto_2 {
            @include impostaDim(33.3%, 100px);
            margin-top: 25px;

            // Media query per schermi sotto i 375px
            @media (max-width: 375px) {
                display: none;
            }
            // Media query per schermi da 375px a 768px
            @media (min-width: 375px) and (max-width: 768px) {
                display: none;
            }
             // Media query per schermi da 768px a 1023px
             @media (min-width: 768px) and (max-width: 1023px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
            // Media query per schermi da 1023px a 1280px
            @media (min-width: 1023px) and (max-width: 1280px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
            // Media query per schermi da 1280px a 1440px
            @media (min-width: 1280px) and (max-width: 1440px) {
                @include impostaDim(33.3%, auto);
                @include imposta-margin(15px, 0, 0, 0);
            }
            .logo2{
                position: relative;
                left: 220px;
                top: 0;
                width: 150px;
                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                    display: none;
                }
                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    display: none;
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    display: none;
                }
                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    display: none;
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    left: 100px;
                    top: 40px;
                    width: 100px;
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    left: 100px;
                    top: 40px;
                    width: 120px;
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    left: 100px;
                    top: 40px;
                    width: 140px;
                }
            }
        }
        a.privacy_policy {
            display: inline;
            font-size: 18px;
            color: $color2;
            text-decoration: none;
            margin: 198px 0 0 0;
            cursor: pointer;
            position: absolute;
    
                // Media query per schermi sotto i 375px
                @media (max-width: 375px) {
                    margin: 168px 0 0 0;
                }
                // Media query per schermi da 375px a 480px
                @media (min-width: 375px) and (max-width: 480px) {
                    margin: 174px 0 0 0;
                }
                // Media query per schermi da 480px a 576px
                @media (min-width: 480px) and (max-width: 576px) {
                    margin: 177px 0 0 0;
                }
                // Media query per schermi da 576px a 768px
                @media (min-width: 576px) and (max-width: 768px) {
                    margin: 197px 0 0 0;
                }
                // Media query per schermi da 768px a 1023px
                @media (min-width: 768px) and (max-width: 1023px) {
                    margin: 185px 0 0 0;
                }
                // Media query per schermi da 1023px a 1280px
                @media (min-width: 1023px) and (max-width: 1280px) {
                    margin: 177px 0 0 0;
                }
                // Media query per schermi da 1280px a 1440px
                @media (min-width: 1280px) and (max-width: 1440px) {
                    margin: 177px 0 0 0;
                }
            &:hover {
                color: $bg-hover_sec;
            }
        }
    }
}
.bottom-bar {
    @extend %b;
    text-align: center;
    padding: 10px 0;
    margin-top: 105px;
        // Media query per schermi sotto i 375px
        @media (max-width: 375px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 375px a 480px
        @media (min-width: 375px) and (max-width: 480px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 480px a 576px
        @media (min-width: 480px) and (max-width: 576px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 576px a 768px
        @media (min-width: 576px) and (max-width: 768px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 768px a 1023px
        @media (min-width: 768px) and (max-width: 1023px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 1023px a 1280px
        @media (min-width: 1023px) and (max-width: 1280px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
        // Media query per schermi da 1280px a 1440px
        @media (min-width: 1280px) and (max-width: 1440px) {
            @include imposta-margin(23px, 0, 0, 0);
        }
}




    
